:root {
  --main-color: #3498db;
  --accent-color: #f39c12;
  --light-bg: #ecf0f1; /* 밝은 배경 색상 */
  --dark-text: #2c3e50;
  --light-text: #bdc3c7;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: var(--light-bg);
  color: var(--dark-text);
}

header {
  color: white;
  text-shadow: 1px 1px 2px black;
  background-image: linear-gradient(to right, var(--main-color), var(--accent-color));
  /* --main-color:#3498db
  --accent-color: #f39c12 */
  
}

header, h1, header p {
  text-align: center;
}

nav {
  justify-content: center;
  padding: 5px 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

nav ul li  {
  margin: 10px;
  height: 10px;
}

nav ul li a {
  margin: 10px;
  padding: 5px 10px;
  color: var(--dark-text);
  text-decoration-line: none;
}